In [1]:
project_id = 'elife-data-pipeline'
source_dataset = 'de_dev'
output_dataset = 'de_dev'
output_table_prefix = 'data_science_'
manuscript_min_tf = 10
manuscript_max_tf = 0.9
state_path = 's3://ci-elife-data-pipeline/airflow-config/data-science/state-dev'

In [2]:
from functools import partial

import re
import os

import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import data_science_pipeline.configure_warnings  # pylint: disable=unused-import
import data_science_pipeline.configure_notebook_logging  # pylint: disable=unused-import

from data_science_pipeline.sql import get_sql
from data_science_pipeline.utils.io import serialize_object_to
from data_science_pipeline.utils.misc import identity_fn
from data_science_pipeline.utils.jupyter import (
    read_big_query as _read_big_query,
)

In [3]:
model_output_path = os.path.join(state_path, 'reviewing_editor_model.joblib')

In [4]:
read_big_query = partial(_read_big_query, project_id=project_id)

In [5]:
default_query_props = dict(project=project_id, dataset=source_dataset)

In [6]:
manuscript_editor_assignment_df = read_big_query(
    get_sql('reviewing-editor-assignments.sql').format(
        **default_query_props
    )
)
manuscript_editor_assignment_df.head()

> ```sql
> WITH t_related_person_id AS (
>   SELECT DISTINCT Version_ID AS version_id, 'Reviewing Editor' AS relationship_type, Person.Person_ID
>   FROM `elife-data-pipeline.de_dev.mv_Editorial_All_Manuscript_Version` AS Version
>   JOIN UNNEST(Version.Reviewing_Editors) AS Person
> )
>
> SELECT
>   Version.Manuscript_ID AS manuscript_id,
>   Version.Version_ID AS version_id,
>   Version.Overall_Stage AS overall_stage,
>   Version.QC_Complete_Timestamp AS qc_complete_timestamp,
>   Version.Position_In_Overall_Stage AS position_in_overall_stage,
>   related_person_id.relationship_type,
>   related_person_id.person_id AS person_id,
>   Related_Person.Name AS name,
>   ARRAY_TO_STRING(ARRAY(SELECT Role_Name FROM UNNEST(Related_Person.Roles)), '|') AS person_roles,
>   ARRAY_TO_STRING(ARRAY(SELECT Keyword FROM UNNEST(Related_Person.Keywords)), '|') AS person_keywords,
>   ARRAY_TO_STRING(ARRAY(SELECT Subject_Area_Name FROM UNNEST(Related_Person.Subject_Areas)), '|') AS person_subject_areas
>
> FROM `elife-data-pipeline.de_dev.mv_Editorial_All_Manuscript_Version` AS Version
> JOIN t_related_person_id AS related_person_id
>   ON related_person_id.version_Id = Version.Version_ID
> JOIN `elife-data-pipeline.prod.mv_Editorial_Person` AS Related_Person
>   ON Related_Person.Person_ID = related_person_id.person_id
> ORDER BY Manuscript_ID, Version_ID, relationship_type, person_id
> ```

Downloading: 100%|██████████| 26070/26070 [00:03<00:00, 6934.94rows/s]

,manuscript_id,version_id,overall_stage,qc_complete_timestamp,position_in_overall_stage,relationship_type,person_id,name,person_roles,person_keywords,person_subject_areas
0,00001,00001/2012-10-22T03:36:46Z,Full Submission,2012-10-26 05:37:50+00:00,1,Reviewing Editor,1141,Gil McVean,Guest Editor,,Computational and Systems Biology|Genetics and...
1,00002,00002/2012-05-24T16:00:00Z,Full Submission,2012-05-24 12:00:00+00:00,1,Reviewing Editor,1151,Jodi Nunnari,,,Biochemistry and Chemical Biology|Cell Biology
2,00003,00003/2012-06-21T18:34:14Z,Full Submission,2012-06-27 05:06:17+00:00,1,Reviewing Editor,1123,Roberto Kolter,Guest Editor,,Microbiology and Infectious Disease|Plant Biology
3,00003,00003/2012-09-05T04:24:15Z,Full Submission,2012-09-05 13:06:43+00:00,2,Reviewing Editor,1123,Roberto Kolter,Guest Editor,,Microbiology and Infectious Disease|Plant Biology
4,00005,00005/2012-06-25T19:03:52Z,Full Submission,2012-06-28 16:34:47+00:00,1,Reviewing Editor,1189,Kevin Struhl,Senior Editor,chromatin biology|cancer biology|transcription...,Cell Biology|Chromosomes and Gene Expression

In [7]:
manuscript_version_extracted_keywords_df = read_big_query(
    get_sql('manuscript-version-extracted-keywords.sql').format(
        **default_query_props
    )
)
print(len(manuscript_version_extracted_keywords_df))
manuscript_version_extracted_keywords_df.head()

> ```sql
> WITH t_manuscript_version_abstract_keywords AS (
>   SELECT
>     manuscript_abstract_keywords.manuscript_id,
>     manuscript_abstract_keywords.version_id,
>     manuscript_abstract_keywords.extracted_keywords,
>     ROW_NUMBER() OVER (
>       PARTITION BY version_id
>       ORDER BY data_hub_imported_timestamp DESC
>     ) AS version_id_row_number
>   FROM `elife-data-pipeline.de_dev.manuscript_abstract_keywords` AS manuscript_abstract_keywords
>   WHERE ARRAY_LENGTH(extracted_keywords) > 0
> )
>
> SELECT
>   * EXCEPT(version_id_row_number)
> FROM t_manuscript_version_abstract_keywords
> WHERE version_id_row_number = 1
> ORDER BY version_id
> ```

Downloading: 100%|██████████| 77539/77539 [00:56<00:00, 1377.78rows/s]

77539

,manuscript_id,version_id,extracted_keywords
0,00001,00001/2012-10-22T03:36:46Z,"[1,129,022 snp, achievement, action, analysis,..."
1,00002,00002/2012-05-24T16:00:00Z,"[assembly, assembly factor, associate, associa..."
2,00003,00003/2012-06-21T18:34:14Z,"[advantage, antibacterial, antibacterial defen..."
3,00003,00003/2012-09-05T04:24:15Z,"[adult, adult fly, advantage, antibacterial, a..."
4,00005,00005/2012-06-25T19:03:52Z,"[activity, aebp2, allosteric, allosteric role,..."

In [8]:
publications_extracted_keywords_df = read_big_query(
    get_sql('publications_extracted_keywords.sql').format(
        **default_query_props
    )
).rename(columns={'abstract_keywords': 'extracted_keywords'})
print(len(publications_extracted_keywords_df))
publications_extracted_keywords_df.head()

> ```sql
> WITH t_paper_extracted_keywords AS (
>   SELECT
>     *,
>     ROW_NUMBER() OVER(PARTITION BY pmid ORDER BY data_hub_imported_timestamp DESC) AS pmid_row_number
>   FROM `elife-data-pipeline.de_dev.data_science_disambiguated_editor_papers_abstract_keywords`
> ),
>
> t_paper_summary AS (
>   SELECT
>     *,
>     ROW_NUMBER() OVER(PARTITION BY pmid ORDER BY provenance.imported_timestamp DESC) AS pmid_row_number
>   FROM `elife-data-pipeline.de_dev.data_science_external_manuscript_summary`
> )
>
> SELECT
>   CONCAT('pmid:', paper_extracted_keywords.pmid) AS publication_id,
>   paper_extracted_keywords.pmid,
>   paper_summary.doi,
>   REGEXP_EXTRACT(LOWER(paper_summary.doi), r'10.7554/elife.([\d]{5})') AS manuscript_id,
>   paper_summary.firstPublicationDate AS publication_date,
>   paper_extracted_keywords.extracted_keywords AS abstract_keywords
> FROM t_paper_extracted_keywords AS paper_extracted_keywords
> JOIN t_paper_summary AS paper_summary
>   ON paper_summary.pmid = paper_extracted_keywords.pmid
>   AND paper_summary.pmid_row_number = 1
> WHERE paper_extracted_keywords.pmid_row_number = 1
>   AND ARRAY_LENGTH(paper_extracted_keywords.extracted_keywords) > 0
> ```

Downloading: 100%|██████████| 13888/13888 [00:12<00:00, 1098.98rows/s]

13888

,publication_id,pmid,doi,manuscript_id,publication_date,extracted_keywords
0,pmid:10235685,10235685,10.1002/(sici)1097-4695(199905)39:2<323::aid-n...,None,1999-05-01,"[absence, activation, active, active trk recep..."
1,pmid:10398591,10398591,10.1126/science.285.5425.215,None,1999-07-01,"[array, assembly, attention, capacity, cargo, ..."
2,pmid:10419689,10419689,10.1006/dbio.1999.9356,None,1999-08-01,"[actin, actin bundle, addition, adult, adult h..."
3,pmid:10606204,10606204,10.1007/s001099900054,None,1999-10-01,"[addition, alpha, alpha-subunit, bind, binding..."
4,pmid:10805343,10805343,10.1002/1531-8249(200005)47:5<670::aid-ana20>3...,None,2000-05-01,"[13 clinical characteristic, 23 different dise..."

In [9]:
editor_publication_ids_df = read_big_query(
    get_sql('editor_publication_ids.sql').format(
        **default_query_props
    )
)
print(len(editor_publication_ids_df))
editor_publication_ids_df.head()

> ```sql
> WITH t_editor_pubmed_ids AS (
>   SELECT
>     *,
>     ROW_NUMBER() OVER(PARTITION BY person_id ORDER BY provenance.imported_timestamp DESC) AS person_id_row_number
>   FROM `elife-data-pipeline.de_dev.data_science_editor_pubmed_ids`
> ),
>
> t_paper_summary AS (
>   SELECT
>     *,
>     ROW_NUMBER() OVER(PARTITION BY pmid ORDER BY provenance.imported_timestamp DESC) AS pmid_row_number
>   FROM `elife-data-pipeline.de_dev.data_science_external_manuscript_summary`
> )
>
> SELECT
>   disambiguated_editor_papers.person_id,
>   CONCAT('pmid:', pmid) AS publication_id,
>   pmid,
>   doi,
>   REGEXP_EXTRACT(LOWER(paper_summary.doi), r'10.7554/elife.([\d]{5})') AS manuscript_id,
>   paper_summary.firstPublicationDate AS publication_date,
>   (pmid IN UNNEST(editor_pubmed_links.relevant_pubmed_ids)) AS is_relevant_pubmed_id,
>   (pmid IN UNNEST(editor_pubmed_ids.pubmed_ids)) AS is_search_pubmed_id
>
> FROM `elife-data-pipeline.de_dev.data_science_disambiguated_editor_papers` AS disambiguated_editor_papers
> JOIN `elife-data-pipeline.de_dev.data_science_editor_pubmed_links` AS editor_pubmed_links
>   ON editor_pubmed_links.person_id = disambiguated_editor_papers.person_id
> JOIN t_editor_pubmed_ids AS editor_pubmed_ids
>   ON editor_pubmed_ids.person_id = disambiguated_editor_papers.person_id
>   AND editor_pubmed_ids.person_id_row_number = 1
> JOIN UNNEST(disambiguated_editor_papers.disambiguated_pubmed_ids) AS pmid
> JOIN t_paper_summary AS paper_summary
>   ON paper_summary.pmid = pmid
>   AND paper_summary.pmid_row_number = 1
> ```

Downloading: 100%|██████████| 15091/15091 [00:02<00:00, 5649.75rows/s]

15091

,person_id,publication_id,pmid,doi,manuscript_id,publication_date,is_relevant_pubmed_id,is_search_pubmed_id
0,145921,pmid:1995917,1995917,10.1093/jnci/83.5.336,None,1991-03-01,False,True
1,145921,pmid:23677572,23677572,10.1158/1055-9965.epi-13-0105,None,2013-05-15,False,True
2,145921,pmid:21070806,21070806,10.1016/j.ypmed.2010.10.014,None,2010-11-08,False,True
3,145921,pmid:26970739,26970739,10.1007/s10552-016-0726-5,None,2016-03-12,False,True
4,145921,pmid:20843488,20843488,10.1016/j.ejca.2010.07.028,None,2010-09-01,False,True

In [10]:
reviewing_editors_df = read_big_query(
    get_sql('reviewing-editors.sql').format(
        **default_query_props
    )
)
print(len(reviewing_editors_df))
reviewing_editors_df.head()

> ```sql
> SELECT
>   Person_ID AS person_id,
>   Name AS name
> FROM `elife-data-pipeline.de_dev.mv_Editorial_Editor_Profile`
> WHERE Role_Name = 'Reviewing Editor'
> ```

Downloading: 100%|██████████| 566/566 [00:00<00:00, 1812.70rows/s]

566

  person_id             name
0    126873   Yuuki Watanabe
1    178962     Chima Nwaogu
2     14193      Merijn Kant
3     70207  Bernhard Schmid
4    136296     David Donoso

In [11]:
keyword_exclusion_df = read_big_query(
    get_sql('keyword-exclusion.sql').format(
        **default_query_props
    )
)
print(len(keyword_exclusion_df))
keyword_exclusion_df.head()

> ```sql
> SELECT excluded_keyword
> FROM `elife-data-pipeline.de_dev.keyword_exclusion`
> ORDER BY excluded_keyword
> ```

Downloading: 100%|██████████| 100/100 [00:00<00:00, 315.86rows/s]

100

  excluded_keyword
0                a
1            about
2           across
3       additional
4              all

In [12]:
reviewing_editor_names = set(reviewing_editors_df['name'])
len(reviewing_editor_names)

566

In [13]:
sorted(reviewing_editor_names)

['Abby Dernburg',
 'Adam Aron',
 'Adam Frost',
 'Adam Linstedt',
 'Adrien Peyrache',
 'Adèle Marston',
 'Agnese Seminara',
 'Agnieszka Chacinska',
 'Ahmet Yildiz',
 'Alan Hinnebusch',
 'Alan Moses',
 'Albert Cardona',
 'Alejandro Sánchez Alvarado',
 'Alex Cook',
 'Alex Fornito',
 'Alexander Borst',
 'Alexander Shackman',
 'Alexander Westermann',
 'Alfonso Valencia',
 'Alicia Izquierdo',
 'Alison Goate',
 'Allan Basbaum',
 'Alphee Michelot',
 'Ambra Pozzi',
 'Amita Sehgal',
 'Ammie Kalan',
 'Amy Gladfelter',
 'Amy Wesolowski',
 'Ana Domingos',
 'Andrea Martin',
 'Andreas Martin',
 'Andreas Schaefer',
 'Andrei Lupas',
 'Andrew Brack',
 'Andrew Carter',
 'Andrew Kruse',
 'Andrew MacPherson',
 'Andrew Morris',
 'Andrew West',
 'Andrés Aguilera',
 'Anita Bhattacharyya',
 'Anna Diehl',
 'Anna Pyle',
 'Anna Roe',
 'Anna Schapiro',
 'Anne West',
 'Annelien Bredenoord',
 'Antonis Rokas',
 'Antony Rosen',
 'Anurag Agrawal',
 'Apurva Sarin',
 'Arduino Mangoni',
 'Armita Nourmohammad',
 'Arun Radhakrishnan',
 'Aryn Gittis',
 'Ashish Lal',
 'Atsushi Iwama',
 'Axel Brakhage',
 'Axel Brunger',
 'Baron Chanda',
 'Bavesh Kana',
 'Beate Lichtenberger',
 'Belinda Nicolau',
 'Ben Cooper',
 'Benjamin Cravatt',
 'Benjamin Prosser',
 'Benoît Kornmann',
 'Bernard Malissen',
 'Bernard de Massy',
 'Bernhard Schmid',
 'Beth Stevens',
 'Birte Forstmann',
 'Blake Wiedenheft',
 'Brandon Harvey',
 'Brice Bathellier',
 'Bruce Stillman',
 'Bruno Lemaître',
 'C Daniela Robles-Espinoza',
 'Caleb Kemere',
 'Carl Bergstrom',
 'Carol Mason',
 'Carole LaBonne',
 'Caroline Burns',
 'Caroline Colijn',
 'Caroline Gutjahr',
 'Cassidy Sugimoto',
 'Catherine Carr',
 'Charles Sawyers',
 'Charlotte Deane',
 'Cheryl Ackert-Bicknell',
 'Chima Nwaogu',
 'Chris Doe',
 'Chris Ponting',
 'Christian Landry',
 'Christina Stallings',
 'Christine Clayton',
 'Christine Friedenreich',
 'Christopher Hill',
 'Chyung-Ru Wang',
 'Claire Gillan',
 'Claire Wyart',
 'Clare Blackburn',
 'Claude Desplan',
 'Constance Cepko',
 'Cristina Lo Celso',
 'Cynthia Czajkowski',
 'D Nora Abrous',
 'Daeyeol Lee',
 'Dan Larhammar',
 'Danelle Devenport',
 'Daniel Kliebenstein',
 'Daniel Zilberman',
 'David Badre',
 'David Donoso',
 'David Drew',
 'David Ginsburg',
 'David Ginty',
 'David Knipe',
 'David Kramer',
 'David Lentink',
 'David Wallach',
 "Deborah Bourc'his",
 'Diane Harper',
 'Dieter Ebert',
 'Dolores Shoback',
 'Dominique Bergmann',
 'Doris Wu',
 'Douglas Black',
 'Douglas Portman',
 'Duojia Pan',
 'Dwight Bergles',
 'E Peter Greenberg',
 'Eduardo Eyras',
 'Edward Egelman',
 'Edward Janus',
 'Elaine Fuchs',
 'Elena Levashina',
 'Elisabeth Knust',
 'Elisabetta Dejana',
 'Elizabeth Miller',
 'Elizabeth Robertson',
 'Ellen Robey',
 'Elçin Ünal',
 'Emilio Salinas',
 'Eric Wagner',
 'Erica Golemis',
 'Erika Bach',
 'Erin Rich',
 'Eunji Cheong',
 'Eunjoon Kim',
 'Evangelos Giamarellos-Bourboulis',
 'Fadel Tissir',
 'Felix Campelo',
 'Flaminia Catteruccia',
 'Florent Ginhoux',
 'Frances Skinner',
 'Frank Kirchhoff',
 'Frank van de Veerdonk',
 'Franz-Ulrich Hartl',
 'Fred Rieke',
 'Frederic Bard',
 'Frederik Graw',
 'Gail Mandel',
 'Gary Yellen',
 'Gaël Varoquaux',
 'Geeta Narlikar',
 'Gene Yeo',
 'Genevieve Konopka',
 'Geoffrey Schoenbaum',
 'Gordana Vunjak-Novakovic',
 'Gordon Berman',
 'Gou Young Koh',
 'Graeme Davis',
 'Graham Coop',
 'Grant McArthur',
 'Gregory Germino',
 'Guangxia Gao',
 'Hannes Neuweiler',
 'Hao Yu',
 'Hao Zhu',
 'Harry Orr',
 'Heather McFarlane',
 'Helen Scharfman',
 'Hening Lin',
 'Hitoshi Nakatogawa',
 'Hong Zhang',
 'Howard Chang',
 'Huan Luo',
 'Hugo Bellen',
 'Hugo Merchant',
 'Ingrid Johnsrude',
 'Inna Slutsky',
 'Irene Chiolo',
 'Irene Giardina',
 'Irwin Davidson',
 'Isaac Chiu',
 'Isabel Rodriguez-Barraquer',
 'Ishmail Abdus-Saboor',
 'Ivan Dikic',
 'Ivan Topisirovic',
 'J Andrew Pruszynski',
 'J Paul Taylor',
 'Jacco Wallinga',
 'Jacqueline Monaghan',
 'James Berger',
 'Jamie Justice',
 'Jan Carette',
 'Jean-Christophe Marine',
 'Jean-Laurent Casanova',
 'Jean-Pierre Michel',
 'Jeannie Chin',
 'Jeannie Lee',
 'Jeffrey Settleman',
 'Jeffrey Smith',
 'Jennifer DeLuca',
 'Jennifer Raymond',
 'Jens Lüders',
 'Jeremy Day',
 'Jeremy Luban',
 'Jeremy Reiter',
 'Jerry Workman',
 'Jesse Goldberg',
 'Jessica Thompson',
 'Jian Xu',
 'Jian-Min Zhou',
 'Jie Xiao',
 'Jiwon Shim',
 'Joaquín Espinosa',
 'Job Dekker',
 'Jody Rosenblatt',
 'Joel Elmquist',
 'John Fryer',
 'John Long',
 'John Schoggins',
 'John Serences',
 'Jon Clardy',
 'Jon Pines',
 'Jonas Obleser',
 'Jonathan Flint',
 'Jonathan Peelle',
 'Jonathan Roiser',
 'Jonathan Staley',
 'Joseph Cheer',
 'Joseph Gleeson',
 'Joseph Raimondo',
 'Joseph Wade',
 'Joshua Brickman',
 'Joshua Johansen',
 'Joshua Schiffer',
 'Juan Valcárcel',
 'Julie Hollien',
 'Julie Kauer',
 'Julie Overbaugh',
 'Julie Welburn',
 'Junmin Pan',
 'Jörn Diedrichsen',
 'Jürgen Kleine-Vehn',
 'Kang Shen',
 'Karen Sears',
 'Karina Xavier',
 'Karina Yaniv',
 'Karine Gibbs',
 'Karmella Haynes',
 'Karsten Kruse',
 'Karsten Weis',
 'Kassandra Ori-McKenney',
 'Katalin Toth',
 'Katharina Schlacher',
 'Kathryn Harden',
 'Kavitha Sarma',
 'Kay Macleod',
 'Kelly Ten Hagen',
 'Kevin Verstrepen',
 'Kim Orth',
 'Kiyoshi Takeda',
 'Klaus-Armin Nave',
 'Koichi Kawakami',
 'Kristin Scott',
 'Kristin Tessmar-Raible',
 'Kristine Krug',
 'Kunlin Wei',
 'L Stirling Churchman',
 'Laura Bradfield',
 'Laura Dugué',
 "Lauren O'Connell",
 'Laurent Keller',
 'Lee Rubin',
 'Leon Islas',
 'Leslie Griffith',
 'Lewis Kay',
 'Li Yu',
 'Lila Davachi',
 'Lilianna Solnica-Krezel',
 'Linda Overstreet-Wadiche',
 'Lisa Giocomo',
 'Lisa Monteggia',
 'Lois Smith',
 'Louis Ptáček',
 'Lu Chen',
 'Lucie Delemotte',
 'Luis Larrondo',
 'Lydia Contreras',
 'Lydia Finley',
 'Lynne-Marie Postovit',
 'László Csanády',
 'M Dawn Teare',
 'Maddy Parsons',
 'Magnus Nordborg',
 'Mahak Sharma',
 'Malcolm McConville',
 'Manajit Hayer-Hartl',
 'Mani Ramaswami',
 'Manuel Zimmer',
 'Marc Lipsitch',
 'Marcel Dicke',
 'Margaret Frame',
 'Margaret McCarthy',
 'Margaret Robinson',
 'Margaret Schlichting',
 'Margaret Stanley',
 'Maria Chait',
 'Maria Spies',
 'Marion Pepper',
 'Marisa Carrasco',
 'Marius Peelen',
 'Mark Jit',
 'Mark Marsh',
 'Mark Nelson',
 'Mark van Rossum',
 'Markus Meister',
 'Marla Feller',
 'Martin Eilers',
 'Martin McMahon',
 'Martin Pera',
 'Martin Vinck',
 'Mary Kay Lobo',
 'Mary Kennedy',
 'María Isabel Geli',
 'María Zambrano',
 'Mathieu Wolff',
 'Matt Kaeberlein',
 'Matthew Freeman',
 'Matthew Hill',
 'Matthew Vander Heiden',
 'Maya Schuldiner',
 'Megan Carey',
 'Megan King',
 'Melanie Blokesch',
 'Melanie Brinkmann',
 'Melanie Königshoff',
 'Melike Lakadamyali',
 'Merijn Kant',
 'Merritt Maduke',
 'Mia Levine',
 'Michael Botchan',
 'Michael Buszczak',
 'Michael Czech',
 'Michael Doebeli',
 'Michael Dustin',
 'Michael Green',
 'Michael Kozlov',
 'Michael Laub',
 'Michael Rape',
 'Michel Bagnat',
 'Michel Goedert',
 'Mihaela Iordanova',
 'Milica Radisic',
 'Min Zhu',
 'Ming Meng',
 'Mingjie Zhang',
 'Miriam Spering',
 'Mohan Balasubramanian',
 "Moira O'Bryan",
 'Molly Przeworski',
 'Mone Zaidi',
 'Morgan Barense',
 'Moritz Helmstaedter',
 'Moses Chao',
 'Muireann Irish',
 'Muriel Thoby-Brisson',
 'Nahum Sonenberg',
 'Naoshige Uchida',
 'Neil Burgess',
 'Nels Elde',
 'Nicola Harris',
 'Nicole Swann',
 'Nikolaus Grigorieff',
 'Nils Brose',
 'Nima Sharifi',
 'Nir Ben-Tal',
 'Noah Cowan',
 'Noboru Mizushima',
 'Noriaki Emoto',
 'Norma Ybarra',
 'Nyasha Chambwe',
 'Ole Nielsen',
 'Oliver Hobert',
 'Oliver Weichenrieder',
 'Olivier Manzoni',
 'Olivier Silvie',
 'Owen Tamplin',
 'P Robin Hiesinger',
 'Pamela Bjorkman',
 'Paola Bovolenta',
 'Pascal Martin',
 'Patricia Bassereau',
 'Patrik Verstreken',
 'Paul Lucassen',
 'Paul Rainey',
 'Peggy Mason',
 'Pekka Lappalainen',
 'Peter Kok',
 'Peter Latham',
 'Peter Ratcliffe',
 'Peter Tontonoz',
 'Peter Turnbaugh',
 'Petra Levin',
 'Philipp Messer',
 'Phillip Newmark',
 'Pierre Sens',
 'Pil Joon Seo',
 'Pimchai Chaiyen',
 'Polina Lishko',
 'Prabhat Jha',
 'Qiang Cui',
 'Rachel Green',
 'Rajan Sankaranarayanan',
 'Ralph DeBerardinis',
 'Ramanujan Hegde',
 'Randy Schekman',
 'Ranjan Sen',
 'Ravi Majeti',
 'Raymond Goldstein',
 'Raymund Wellinger',
 'Rebecca Bart',
 'Rebecca Seal',
 'Rebecca Shansky',
 "Redmond O'Connell",
 'Reinhard Fässler',
 'Richard Amasino',
 'Richard Harvey',
 'Richard Lewis',
 'Richard Neher',
 'Richard Palmiter',
 'Rina Rosenzweig',
 'Robert Singer',
 'Roberto Bonasio',
 'Roel Nusse',
 'Roger Davis',
 'Rohini Kuner',
 'Ron Fouchier',
 'Rosalyn Gloag',
 'Roy Sillitoe',
 'Rudolph Tanzi',
 'Russell Vance',
 'Ruth Loos',
 'Ruth de Diego-Balaguer',
 'Ryohei Yasuda',
 'Sacha Nelson',
 'Sachin Deshmukh',
 'Samantha Santacruz',
 'Samara Reck-Peterson',
 'Samuel Díaz-Muñoz',
 'Sandeep Krishna',
 'Sang-Gyu Kim',
 'Sara Cherry',
 'Sara Mitri',
 'Sarel Fleishman',
 'Saskia Haegens',
 'Satyajit Mayor',
 'Sebastian Deindl',
 'Sebastian Lourido',
 'Serge Przedborski',
 'Seth Corey',
 'Shaeri Mukherjee',
 'Shahragim Tajbakhsh',
 'Sheila McCormick',
 'Shelly Flagel',
 'Shigehiro Kuraku',
 'Shimon Sakaguchi',
 'Sigolène Meilhac',
 'Silke Hauf',
 'Sjors Scheres',
 'Solange Brown',
 'Sonia Garel',
 'Sonja Albers',
 'Sophie Helaine',
 'Srdjan Ostojic',
 'Sriram Subramaniam',
 'Stephanie Palmer',
 'Stephen Ekker',
 'Stephen Liberles',
 'Stephen Parker',
 'Stipan Jonjic',
 'Subburaman Mohan',
 'Susan Ackerman',
 'Tali Kimchi',
 'Talía Malagón',
 'Tanya Whitfield',
 'Taraz Lee',
 'Tatiana Pasternak',
 'Tatjana Piotrowski',
 'Tatyana Sharpee',
 'Teresa Giraldez',
 'Thomas Gingeras',
 'Thomas Serre',
 'Thomas Surrey',
 'Thomas Yeo',
 'Thorsten Kahnt',
 'Thorsten Nürnberger',
 'Tianyi Mao',
 'Tiffany Horng',
 'Tim Formosa',
 'Timothy Griffiths',
 'Timothy Nilsen',
 "Timothy O'Leary",
 'Timothy Verstynen',
 'Tobias Donner',
 'Tobias Reichenbach',
 'Toby Allen',
 'Tomohiro Kurosaki',
 'Tony Hunter',
 'Torben Jensen',
 'Tricia Serio',
 'Tâm Mignot',
 'Upinder Bhalla',
 'Urszula Krzych',
 'Valentin Wyart',
 'Valerie Horsley',
 'Vatsala Thirumalai',
 'Vaughn Cooper',
 'Victoria Bautch',
 'Vidita Vaidya',
 'Vincent Castric',
 'Vincenzo Cerullo',
 'Virginie Courtier-Orgogozo',
 'Virginie van Wassenhove',
 'Viviana Simon',
 'Volker Dötsch',
 'Wade Harper',
 'Wafik El-Deiry',
 'Wenhui Li',
 'Wenwei Hu',
 'Wenying Shou',
 'Werner Kühlbrandt',
 'Wesley Sundquist',
 'Wilbert Zwart',
 'William Hahn',
 'William Weis',
 'Wolf-Dietrich Heyer',
 'Xiaobing Shi',
 'Xiaochen Wang',
 'Xiaoyu Hu',
 'Xuetao Cao',
 'Yamuna Krishnan',
 'Yang Dan',
 'Yi Arial Zeng',
 'Yibing Shan',
 'Yue Wang',
 'Yuichi Iino',
 'Yuk Ming Dennis Lo',
 'Yukiko Goda',
 'Yukiko Yamashita',
 'Yuting Ma',
 'Yuuki Watanabe',
 'Zsolt Molnár']

In [14]:
manuscript_editor_assignment_with_extracted_keywords_df = (
    manuscript_editor_assignment_df
    .merge(
        manuscript_version_extracted_keywords_df.drop(columns=['manuscript_id']),
        on='version_id',
        suffixes=('', '_extracted')
    )
)
print(manuscript_editor_assignment_with_extracted_keywords_df.columns)
manuscript_editor_assignment_with_extracted_keywords_df.head()

Index(['manuscript_id', 'version_id', 'overall_stage', 'qc_complete_timestamp',
       'position_in_overall_stage', 'relationship_type', 'person_id', 'name',
       'person_roles', 'person_keywords', 'person_subject_areas',
       'extracted_keywords'],
      dtype='object')

,manuscript_id,version_id,overall_stage,qc_complete_timestamp,position_in_overall_stage,relationship_type,person_id,name,person_roles,person_keywords,person_subject_areas,extracted_keywords
0,00001,00001/2012-10-22T03:36:46Z,Full Submission,2012-10-26 05:37:50+00:00,1,Reviewing Editor,1141,Gil McVean,Guest Editor,,Computational and Systems Biology|Genetics and...,"[1,129,022 snp, achievement, action, analysis,..."
1,00002,00002/2012-05-24T16:00:00Z,Full Submission,2012-05-24 12:00:00+00:00,1,Reviewing Editor,1151,Jodi Nunnari,,,Biochemistry and Chemical Biology|Cell Biology,"[assembly, assembly factor, associate, associa..."
2,00003,00003/2012-06-21T18:34:14Z,Full Submission,2012-06-27 05:06:17+00:00,1,Reviewing Editor,1123,Roberto Kolter,Guest Editor,,Microbiology and Infectious Disease|Plant Biology,"[advantage, antibacterial, antibacterial defen..."
3,00003,00003/2012-09-05T04:24:15Z,Full Submission,2012-09-05 13:06:43+00:00,2,Reviewing Editor,1123,Roberto Kolter,Guest Editor,,Microbiology and Infectious Disease|Plant Biology,"[adult, adult fly, advantage, antibacterial, a..."
4,00005,00005/2012-06-25T19:03:52Z,Full Submission,2012-06-28 16:34:47+00:00,1,Reviewing Editor,1189,Kevin Struhl,Senior Editor,chromatin biology|cancer biology|transcription...,Cell Biology|Chromosomes and Gene Expression,"[activity, aebp2, allosteric, allosteric role,..."

In [15]:
full_submission_reviewing_editor_assignment_df = manuscript_editor_assignment_with_extracted_keywords_df[
    (manuscript_editor_assignment_with_extracted_keywords_df['overall_stage'] == 'Full Submission')
    & (manuscript_editor_assignment_with_extracted_keywords_df['position_in_overall_stage'] == 1)
    & (manuscript_editor_assignment_with_extracted_keywords_df['relationship_type'] == 'Reviewing Editor')
    & (
        manuscript_editor_assignment_with_extracted_keywords_df['name']
        .fillna('').isin(reviewing_editor_names)
    )
]
print(len(full_submission_reviewing_editor_assignment_df))
full_submission_reviewing_editor_assignment_df.head()

7904

,manuscript_id,version_id,overall_stage,qc_complete_timestamp,position_in_overall_stage,relationship_type,person_id,name,person_roles,person_keywords,person_subject_areas,extracted_keywords
12,00013,00013/2012-05-30T16:00:00Z,Full Submission,2012-05-30 12:00:00+00:00,1,Reviewing Editor,1095,E Peter Greenberg,Reviewing Editor|Editorial Board Member,microbe-microbe communication,Microbiology and Infectious Disease,"[- nine order, 10-15 m, animal, animal health,..."
23,00039,00039/2012-07-06T22:13:18Z,Full Submission,2012-07-10 11:58:11+00:00,1,Reviewing Editor,22520,Timothy Nilsen,Reviewing Editor|Editorial Board Member,drosophila|mrna processing|mechanism of mirna ...,Biochemistry and Chemical Biology|Chromosomes ...,"[activity, alternative, alternative mirna path..."
36,00065,00065/2012-07-17T18:32:20Z,Full Submission,2012-07-18 05:55:45+00:00,1,Reviewing Editor,1067,Michael Czech,Reviewing Editor|Editorial Board Member,obesity|insulin resistance|diabetes|signal tra...,Cell Biology|Human Biology and Medicine,"[acid, acid oxidation, adaptive, adaptive star..."
47,00090,00090/2012-07-25T15:45:08Z,Full Submission,2012-07-26 09:14:51+00:00,1,Reviewing Editor,1072,Roger Davis,Reviewing Editor|Editorial Board Member,signal transduction,Cell Biology|Chromosomes and Gene Expression,"[biomarker, breast, breast cancer, cancer, can..."
50,00093,00093/2012-07-30T17:59:17Z,Full Submission,2012-07-31 07:06:51+00:00,1,Reviewing Editor,1046,Carl Bergstrom,Reviewing Editor|Editorial Board Member,metaresearch|science of science|science studie...,Computational and Systems Biology,"[agent-base, agent-based model, antigenic, ant..."

In [16]:
print('unique manuscript ids:', full_submission_reviewing_editor_assignment_df['manuscript_id'].nunique())
print('duplicate manuscript ids (if any):')
full_submission_reviewing_editor_assignment_df[
    full_submission_reviewing_editor_assignment_df['manuscript_id'].isin(
        full_submission_reviewing_editor_assignment_df
        .groupby('manuscript_id')
        .size()
        .pipe(lambda s: s[s > 1])
        .index
    )
]

unique manuscript ids: 7904
duplicate manuscript ids (if any):

Empty DataFrame
Columns: [manuscript_id, version_id, overall_stage, qc_complete_timestamp, position_in_overall_stage, relationship_type, person_id, name, person_roles, person_keywords, person_subject_areas, extracted_keywords]
Index: []

In [17]:
editor_publications_with_extracted_keywords_df = (
    reviewing_editors_df[['person_id', 'name']]
    .merge(
        editor_publication_ids_df
        [['person_id', 'publication_id', 'is_relevant_pubmed_id', 'is_search_pubmed_id']],
        on='person_id'
    )
    .merge(
        publications_extracted_keywords_df,
        on='publication_id',
        suffixes=('', '_extracted')
    )
).sort_values(['publication_id', 'person_id']).copy()
print(len(editor_publications_with_extracted_keywords_df))
editor_publications_with_extracted_keywords_df.head(3)

10940

,person_id,name,publication_id,is_relevant_pubmed_id,is_search_pubmed_id,pmid,doi,manuscript_id,publication_date,extracted_keywords
384,1040,Mohan Balasubramanian,pmid:10022828,False,True,10022828,10.1093/emboj/18.4.854,None,1999-02-01,"[accumulation, actin-bind, actin-binding domai..."
2660,1054,Axel Brunger,pmid:10024461,False,True,10024461,10.1006/jmbi.1998.2512,None,1999-02-01,"[-6.2, -9.9, 97-residue, 97-residue m2 protein..."
2809,1054,Axel Brunger,pmid:10025402,False,True,10025402,10.1016/s0092-8674(00)80549-8,None,1999-02-01,"[analysis, area, biochemical, biochemical datu..."

In [18]:
full_submission_reviewing_editor_assignment_full_df = pd.concat([
    full_submission_reviewing_editor_assignment_df,
    editor_publications_with_extracted_keywords_df[
        editor_publications_with_extracted_keywords_df['name'].isin(
            full_submission_reviewing_editor_assignment_df['name']
        )
    ]
])
print(len(full_submission_reviewing_editor_assignment_full_df))
full_submission_reviewing_editor_assignment_full_df.head(3)

18460

,manuscript_id,version_id,overall_stage,qc_complete_timestamp,position_in_overall_stage,relationship_type,person_id,name,person_roles,person_keywords,person_subject_areas,extracted_keywords,publication_id,is_relevant_pubmed_id,is_search_pubmed_id,pmid,doi,publication_date
12,00013,00013/2012-05-30T16:00:00Z,Full Submission,2012-05-30 12:00:00+00:00,1.0,Reviewing Editor,1095,E Peter Greenberg,Reviewing Editor|Editorial Board Member,microbe-microbe communication,Microbiology and Infectious Disease,"[- nine order, 10-15 m, animal, animal health,...",NaN,NaN,NaN,NaN,NaN,NaT
23,00039,00039/2012-07-06T22:13:18Z,Full Submission,2012-07-10 11:58:11+00:00,1.0,Reviewing Editor,22520,Timothy Nilsen,Reviewing Editor|Editorial Board Member,drosophila|mrna processing|mechanism of mirna ...,Biochemistry and Chemical Biology|Chromosomes ...,"[activity, alternative, alternative mirna path...",NaN,NaN,NaN,NaN,NaN,NaT
36,00065,00065/2012-07-17T18:32:20Z,Full Submission,2012-07-18 05:55:45+00:00,1.0,Reviewing Editor,1067,Michael Czech,Reviewing Editor|Editorial Board Member,obesity|insulin resistance|diabetes|signal tra...,Cell Biology|Human Biology and Medicine,"[acid, acid oxidation, adaptive, adaptive star...",NaN,NaN,NaN,NaN,NaN,NaT

In [19]:
tf_idf_vectorizer = TfidfVectorizer(
    tokenizer=identity_fn,
    token_pattern=None,
    lowercase=False,
    min_df=manuscript_min_tf,
    max_df=manuscript_max_tf
)
print(tf_idf_vectorizer)
tf_idf_vectorizer.fit(
    full_submission_reviewing_editor_assignment_full_df['extracted_keywords']
)
all_keywords_set = set(tf_idf_vectorizer.get_feature_names())
len(all_keywords_set)

TfidfVectorizer(lowercase=False, max_df=0.9, min_df=10, token_pattern=None,
                tokenizer=<function identity_fn at 0x7f131d54ff80>)

13061

In [20]:
print(sorted(all_keywords_set)[:10])

[', - mouse', '- cell', '- mouse', '-)', '-) mouse', '-activated', '-dependent', '-end', '-independent', '1 diabetes']

In [21]:
all_keywords_set = {
    keyword
    for keyword in all_keywords_set
    if re.match(r'^[a-zA-Z]', keyword)
    and not keyword.startswith('a ')
}
print('all_keywords_set len (after filter):', len(all_keywords_set))
print(sorted(all_keywords_set)[:10])

all_keywords_set len (after filter): 12983
['a-site', 'a.', 'a1', 'aa', 'aaa', 'aaa+', 'aaa+ atpase', 'aaa+ domain', 'aaa-atpase', 'aacr']

In [22]:
all_keywords_set = all_keywords_set - set(keyword_exclusion_df['excluded_keyword'])
print('all_keywords_set len (after exclusion):', len(all_keywords_set))

all_keywords_set len (after exclusion): 12964

In [23]:
editor_extracted_keywords_df = (
    full_submission_reviewing_editor_assignment_full_df
    [['name', 'extracted_keywords']]
    .groupby('name')
    .agg(
        lambda keywords_list: [
            keyword
            for keywords in keywords_list
            for keyword in keywords
            if keyword in all_keywords_set
        ]
    )
    .reset_index()
    .sort_values('name')
)
editor_extracted_keywords_df.head()

            name                                 extracted_keywords
0  Abby Dernburg  [biological, biological significance, centrome...
1      Adam Aron  [activation, amygdala, analyzes, antidepressan...
2     Adam Frost  [alternative, bacteria, cell, center, conforma...
3  Adam Linstedt  [adrenergic, adrenergic receptor, basis, biolo...
4  Adèle Marston  [ablation, cell, cell cycle, chromatid, chroma...

In [24]:
editor_person_id_df = (
    full_submission_reviewing_editor_assignment_df
    [['name', 'person_id']]
    .dropna()
    .groupby('name')
    .last()
    .loc[editor_extracted_keywords_df['name']]
    .reset_index()
)
editor_person_id_df.head()

            name person_id
0  Abby Dernburg      3357
1      Adam Aron     33041
2     Adam Frost     86941
3  Adam Linstedt      4372
4  Adèle Marston      7131

In [25]:
editor_tf_idf_vectorizer = TfidfVectorizer(
    tokenizer=identity_fn,
    token_pattern=None,
    lowercase=False,
    norm='l2',
    smooth_idf=False,
    sublinear_tf=False,
    min_df=1,
    max_df=1.0
)
print(editor_tf_idf_vectorizer)
editor_tf_idf = editor_tf_idf_vectorizer.fit_transform(
    editor_extracted_keywords_df['extracted_keywords']
)
editor_tf_idf

TfidfVectorizer(lowercase=False, smooth_idf=False, token_pattern=None,
                tokenizer=<function identity_fn at 0x7f131d54ff80>)

<523x12964 sparse matrix of type '<class 'numpy.float64'>'
	with 397981 stored elements in Compressed Sparse Row format>

In [26]:
cosine_similarity(
    editor_tf_idf_vectorizer.transform(
        editor_extracted_keywords_df
        ['extracted_keywords'][:1]
    ),
    editor_tf_idf
)

array([[1.        , 0.01865128, 0.09016082, 0.0867965 , 0.44161049,
        0.03912625, 0.14962182, 0.07852633, 0.15375397, 0.13433561,
        0.14441691, 0.0267893 , 0.05778472, 0.08577248, 0.0564257 ,
        0.13305484, 0.06951396, 0.05366461, 0.03363445, 0.06050807,
        0.0962479 , 0.0477471 , 0.10845229, 0.03910047, 0.04455843,
        0.03815135, 0.11503525, 0.07611077, 0.11056966, 0.083612  ,
        0.16587795, 0.13124258, 0.08116211, 0.08188922, 0.10873183,
        0.26673158, 0.12013977, 0.04299838, 0.10193516, 0.0640219 ,
        0.05068233, 0.14498366, 0.18086921, 0.07906889, 0.03118948,
        0.073024  , 0.06278515, 0.07638611, 0.10858076, 0.06590993,
        0.10980194, 0.07394353, 0.10741368, 0.17023079, 0.09778446,
        0.08427098, 0.08333296, 0.02075586, 0.0507134 , 0.13022699,
        0.01610861, 0.14656821, 0.07161923, 0.54863553, 0.04140503,
        0.11216906, 0.0529313 , 0.07842697, 0.07986581, 0.05905642,
        0.20663311, 0.1187741 , 0.10691583, 0.05994159, 0.07139242,
        0.12011072, 0.08227619, 0.05561755, 0.05691557, 0.0650492 ,
        0.07357825, 0.10376768, 0.08210918, 0.08337856, 0.24137079,
        0.13372407, 0.07248777, 0.12575977, 0.0416751 , 0.04036417,
        0.02955036, 0.08730917, 0.12282222, 0.18628498, 0.12001901,
        0.04725466, 0.06152343, 0.05993344, 0.05265881, 0.10421544,
        0.08690335, 0.10817446, 0.14252904, 0.05820185, 0.06409136,
        0.13166406, 0.11627954, 0.11579736, 0.06979476, 0.07104679,
        0.09107684, 0.1859676 , 0.02119674, 0.05415334, 0.04438195,
        0.13538639, 0.06943151, 0.15106611, 0.14312467, 0.15455826,
        0.09882455, 0.09809702, 0.01984268, 0.15298992, 0.01613357,
        0.1417614 , 0.0835738 , 0.12749566, 0.09179238, 0.11921485,
        0.1318663 , 0.0420195 , 0.23311567, 0.05238437, 0.03751521,
        0.08070541, 0.06627904, 0.12666113, 0.04757114, 0.13583084,
        0.11456808, 0.02220505, 0.09710593, 0.08539447, 0.07848186,
        0.06920544, 0.15314138, 0.08704815, 0.05655082, 0.06904648,
        0.10780319, 0.08470713, 0.06303323, 0.20298603, 0.12656328,
        0.11744448, 0.06416135, 0.11968567, 0.06193906, 0.08159585,
        0.16643889, 0.13344721, 0.0177622 , 0.11364609, 0.11735928,
        0.0712832 , 0.06792117, 0.10247822, 0.03361697, 0.04638082,
        0.1050365 , 0.12635362, 0.20653151, 0.04452644, 0.21443353,
        0.04841383, 0.02716965, 0.1031614 , 0.18234087, 0.06821759,
        0.1684236 , 0.08333627, 0.04262636, 0.2046561 , 0.12716906,
        0.03991137, 0.12555905, 0.08242181, 0.20933791, 0.07654206,
        0.0443935 , 0.07958311, 0.0290757 , 0.16550201, 0.09840289,
        0.05134988, 0.23570484, 0.06552789, 0.19131502, 0.12409167,
        0.11052937, 0.22646854, 0.0420887 , 0.06317316, 0.11630445,
        0.07567822, 0.1323892 , 0.12263818, 0.19762128, 0.1737924 ,
        0.10318947, 0.0828314 , 0.0595144 , 0.05378414, 0.07994503,
        0.02249405, 0.11534495, 0.3014055 , 0.05309204, 0.11374291,
        0.05469128, 0.03255508, 0.08680994, 0.04295482, 0.11635131,
        0.0652549 , 0.14161754, 0.05387128, 0.04780742, 0.12914858,
        0.06828969, 0.07303363, 0.17431929, 0.08422488, 0.07626423,
        0.11799105, 0.16640759, 0.08330761, 0.05819897, 0.07129476,
        0.0165802 , 0.20579717, 0.05996047, 0.14683296, 0.14535728,
        0.0717696 , 0.10410239, 0.13890418, 0.0282898 , 0.0774146 ,
        0.07890665, 0.12113351, 0.07164478, 0.0637834 , 0.04670645,
        0.07682739, 0.04304599, 0.04388525, 0.07224696, 0.10178008,
        0.10644822, 0.1444265 , 0.15665135, 0.06333858, 0.05937195,
        0.12824137, 0.06263677, 0.06968697, 0.08189107, 0.07853477,
        0.11180754, 0.06669851, 0.0959208 , 0.08598429, 0.0943355 ,
        0.10411351, 0.04093759, 0.11554235, 0.1133647 , 0.08709531,
        0.07362963, 0.10080334, 0.1515792 , 0.13227882, 0.06435505,
        0.04972197, 0.08707068, 0.05574382, 0.11932253, 0.04713716,
        0.03916132, 0.04397601, 0.19958173, 0.06933424, 0.03154244,
        0.05473107, 0.03767794, 0.12824233, 0.08003198, 0.08624757,
        0.06736844, 0.0539068 , 0.06681822, 0.0890277 , 0.11687705,
        0.07221017, 0.05401312, 0.11485076, 0.08672713, 0.04755886,
        0.05532344, 0.11848329, 0.15066516, 0.04697825, 0.08607324,
        0.10535834, 0.06841334, 0.15138476, 0.06969697, 0.08662967,
        0.08102561, 0.13979502, 0.05023786, 0.0915434 , 0.2129632 ,
        0.25592177, 0.16498706, 0.09273434, 0.08796872, 0.13846995,
        0.16890737, 0.11845613, 0.18521284, 0.16948463, 0.14612527,
        0.07624296, 0.05255842, 0.07730036, 0.05014564, 0.03379709,
        0.1698487 , 0.02632107, 0.20375548, 0.17093508, 0.16959228,
        0.11674373, 0.02249095, 0.1150857 , 0.13502146, 0.04949649,
        0.05050106, 0.16904193, 0.07897718, 0.05745683, 0.0755405 ,
        0.0367073 , 0.03727596, 0.15210158, 0.09618338, 0.04716367,
        0.17079887, 0.06298225, 0.13056008, 0.03360111, 0.20246049,
        0.06701463, 0.06285615, 0.07530867, 0.12784112, 0.06058315,
        0.04730425, 0.13347847, 0.10928069, 0.04450365, 0.09848358,
        0.09239202, 0.153818  , 0.04393742, 0.06156512, 0.08442137,
        0.12884958, 0.06199054, 0.13411798, 0.10424321, 0.11917905,
        0.11398771, 0.11115294, 0.03869542, 0.07810329, 0.02739809,
        0.13888819, 0.11818261, 0.17027372, 0.16938935, 0.02648822,
        0.07226486, 0.1217946 , 0.19968114, 0.02518989, 0.07993413,
        0.06313129, 0.11968089, 0.10922517, 0.09741344, 0.07260342,
        0.10777443, 0.08488862, 0.0465571 , 0.19975914, 0.17380537,
        0.11415192, 0.16820021, 0.02584634, 0.04360228, 0.03588714,
        0.03163185, 0.08604474, 0.05433415, 0.05885839, 0.11337323,
        0.11690258, 0.04780149, 0.02970498, 0.10301364, 0.07315273,
        0.08070557, 0.06669595, 0.14536875, 0.05371121, 0.0556494 ,
        0.12160845, 0.08976205, 0.14847148, 0.06231844, 0.06934379,
        0.09412148, 0.15517   , 0.04473965, 0.07058566, 0.09529318,
        0.07642029, 0.31116999, 0.15762823, 0.05442697, 0.11059694,
        0.05560944, 0.07485428, 0.06828263, 0.17420256, 0.06601242,
        0.12309665, 0.0611457 , 0.08746959, 0.08084675, 0.08239259,
        0.13489288, 0.07076723, 0.03758777, 0.11124598, 0.04590302,
        0.0962029 , 0.0762023 , 0.06629494, 0.15327145, 0.04264647,
        0.18028193, 0.06799527, 0.05337945, 0.12846039, 0.09045394,
        0.0592666 , 0.15571155, 0.06947349, 0.19805392, 0.07857266,
        0.07279055, 0.062822  , 0.03617583, 0.06677116, 0.11683787,
        0.18117702, 0.17502984, 0.08153189, 0.17470872, 0.08600486,
        0.07494363, 0.04515901, 0.14792565, 0.08690883, 0.11327551,
        0.0531689 , 0.06959836, 0.05030656, 0.06709522, 0.05337102,
        0.09340167, 0.20175232, 0.12964628, 0.02651564, 0.09068879,
        0.07798909, 0.15927066, 0.15239999, 0.18626697, 0.10886921,
        0.11536099, 0.18120561, 0.2754163 , 0.14321421, 0.10429783,
        0.10563428, 0.09783248, 0.09762146, 0.05381977, 0.07728666,
        0.1332565 , 0.06063094, 0.07854839, 0.11834789, 0.26122482,
        0.07115032, 0.02253367, 0.02891479]])

In [27]:
print('saving to:', model_output_path)
serialize_object_to({
    'editor_tf_idf_vectorizer': editor_tf_idf_vectorizer,
    'editor_tf_idf': editor_tf_idf,
    'editor_names': editor_extracted_keywords_df['name'],
    'editor_person_ids': editor_person_id_df['person_id']
}, model_output_path)
print('done')

saving to: s3://ci-elife-data-pipeline/airflow-config/data-science/state-dev/reviewing_editor_model.joblib
done