In [1]:
project_id = 'elife-data-pipeline'
output_dataset = 'de_dev'
output_table_prefix = 'data_science_'
target_paper_count = 50
# max_paper_count is ignore if it is a good match
max_paper_count = 2000

In [2]:
import logging
import sys
from functools import partial

import pandas as pd

import data_science_pipeline.configure_warnings  # pylint: disable=unused-import
import data_science_pipeline.configure_notebook_logging  # pylint: disable=unused-import

from data_science_pipeline.sql import get_sql
from data_science_pipeline.utils.bq import run_query_and_save_to_table, get_client
from data_science_pipeline.utils.jupyter import (
    printmd,
    to_markdown_sql,
    read_big_query as _read_big_query
)

INFO:botocore.credentials:Found credentials in shared credentials file: ~/.aws/credentials

In [3]:
query_name = 'disambiguated_editor_papers'
destination_table_name = ''.join([output_table_prefix, query_name])

In [4]:
logging.basicConfig(level='INFO', stream=sys.stdout)

In [5]:
read_big_query = partial(_read_big_query, project_id=project_id)

In [6]:
print('processing %s' % query_name)
_sql = get_sql('%s.sql' % query_name).format(
    project=project_id,
    dataset=output_dataset,
    target_paper_count=target_paper_count,
    max_paper_count=max_paper_count
)
printmd(to_markdown_sql(_sql))
run_query_and_save_to_table(
    client=get_client(project_id=project_id),
    query=_sql,
    destination_dataset=output_dataset,
    destination_table_name=destination_table_name
)
print('done')

processing disambiguated_editor_papers

> ```sql
> -- Main features:
> --    - Disambiguates editor linked papers as far as possible
> --      Gives each editor paper match a priority
> --    - Select papers with increasing priority until at least a target number of papers is reached
>
> WITH t_editor AS (
>   SELECT
>     editor.person_id,
>     editor.name,
>     editor.relevant_pubmed_ids
>   FROM `elife-data-pipeline.de_dev.data_science_editor_pubmed_links` AS editor
> ),
>
> t_pubmed_id_with_priority_by_person_id AS (
>   SELECT DISTINCT editor.person_id, pmid, 1 AS priority
>   FROM t_editor AS editor
>   JOIN UNNEST(relevant_pubmed_ids) AS pmid
>
>   UNION DISTINCT
>
>   SELECT DISTINCT
>     person_id,
>     pmid,
>     CASE
>       WHEN has_matching_orcid THEN 1
>       WHEN NOT COALESCE(has_mismatching_orcid, FALSE)
>         AND has_matching_last_name
>         AND has_matching_first_name
>         AND (has_matching_affiliation OR has_matching_previous_affiliation)
>         THEN 2
>       WHEN NOT COALESCE(has_mismatching_orcid, FALSE)
>         AND has_matching_last_name
>         AND has_matching_first_name
>         AND has_matching_postal_code
>         THEN 3
>       WHEN NOT COALESCE(has_mismatching_orcid, FALSE)
>         AND has_matching_last_name
>         AND has_matching_first_name
>         AND has_matching_city
>         THEN 4
>       WHEN NOT COALESCE(has_mismatching_orcid, FALSE)
>         AND has_matching_last_name
>         AND has_matching_first_name
>         AND has_matching_country
>         THEN 5
>       WHEN NOT COALESCE(has_mismatching_orcid, FALSE)
>         AND has_matching_last_name
>         AND has_matching_first_name_letter
>         AND (has_matching_affiliation OR has_matching_previous_affiliation)
>         THEN 6
>       ELSE 1000 - author_match_score
>     END AS priority
>   FROM `elife-data-pipeline.de_dev.data_science_disambiguated_editor_papers_details`
> ),
>
> t_priority_count_by_person_id AS (
>   SELECT person_id, priority, COUNT(*) AS priority_count
>   FROM t_pubmed_id_with_priority_by_person_id
>   GROUP BY person_id, priority
> ),
>
> t_priority_count_and_total_priority_count_by_person_id AS (
>   SELECT
>     current_counts.*,
>     (
>       priority_count
>       + (
>         SELECT COALESCE(SUM(priority_count), 0)
>         FROM t_priority_count_by_person_id AS higher_priority_counts
>         WHERE higher_priority_counts.person_id = current_counts.person_id
>         AND higher_priority_counts.priority < current_counts.priority
>       )
>     ) AS total_priority_count
>   FROM t_priority_count_by_person_id AS current_counts
> ),
>
> t_priority_below_and_above_target_count_by_person_id AS (
>   SELECT
>     person_id,
>     MAX(IF(
>       total_priority_count < 50,
>       priority,
>       NULL
>     )) AS priority_below_target_count,
>     MIN(IF(
>       (
>         total_priority_count >= 50
>         AND (
>           -- upper limit, unless we are very sure (priority 1 or 2)
>           total_priority_count < 2000
>           OR priority <= 2
>         )
>       ),
>       priority,
>       NULL
>     )) AS priority_above_target_count
>   FROM t_priority_count_and_total_priority_count_by_person_id
>   GROUP BY person_id
> ),
>
> t_max_preferred_priority_by_person_id AS (
>   SELECT
>     person_id,
>     COALESCE(priority_above_target_count, priority_below_target_count) AS max_preferred_priority
>   FROM t_priority_below_and_above_target_count_by_person_id
> ),
>
> t_preferred_pubmed_id_by_person_id AS (
>   SELECT DISTINCT
>     max_preferred.person_id,
>     paper.pmid
>   FROM t_max_preferred_priority_by_person_id AS max_preferred
>   JOIN t_pubmed_id_with_priority_by_person_id AS paper
>     ON paper.person_id = max_preferred.person_id
>     AND paper.priority <= max_preferred.max_preferred_priority
>     AND paper.pmid IS NOT NULL
> )
>
> SELECT
>   editor.person_id,
>   editor.name,
>   ARRAY(
>     SELECT pmid
>     FROM t_preferred_pubmed_id_by_person_id AS preferred_paper
>     WHERE preferred_paper.person_id = editor.person_id
>   ) AS disambiguated_pubmed_ids
> FROM t_editor AS editor
> ```

INFO:data_science_pipeline.utils.bq:ran query and saved to: de_dev.data_science_disambiguated_editor_papers, total rows: 0, took: 10.573s

done

In [7]:
_sql = get_sql('disambiguated_editor_papers_count.sql').format(
    project=project_id,
    dataset=output_dataset
)
editor_pubmed_count_df = read_big_query(_sql)
print(len(editor_pubmed_count_df))
editor_pubmed_count_df.head(3)

> ```sql
> WITH t_editor_pubmed_ids AS (
>   SELECT
>     *,
>     ROW_NUMBER() OVER(PARTITION BY name ORDER BY provenance.imported_timestamp DESC) AS name_row_number
>   FROM `elife-data-pipeline.de_dev.data_science_editor_pubmed_ids`
> )
>
> SELECT
>   Profile.Person_ID AS person_id,
>   Profile.Name AS name,
>   ARRAY_LENGTH(papers.disambiguated_pubmed_ids) AS pubmed_count,
>   ARRAY_LENGTH(editor_pubmed_links.relevant_pubmed_urls) AS relevant_pubmed_url_count,
>   ARRAY_LENGTH(editor_pubmed_links.relevant_pubmed_ids) AS relevant_pubmed_id_count,
>   ARRAY_LENGTH(editor_pubmed_ids.pubmed_ids) AS retrieved_pubmed_id_count,
>   editor_pubmed_links.pubmed_url,
>   editor_pubmed_links.search_term
> FROM `elife-data-pipeline.de_dev.mv_Editorial_Editor_Profile` AS Profile
> LEFT JOIN `elife-data-pipeline.de_dev.data_science_disambiguated_editor_papers` AS papers
>   ON papers.person_id = Profile.Person_ID
> LEFT JOIN `elife-data-pipeline.de_dev.data_science_editor_pubmed_links` AS editor_pubmed_links
>   ON editor_pubmed_links.person_id = Profile.Person_ID
> LEFT JOIN t_editor_pubmed_ids AS editor_pubmed_ids
>   ON editor_pubmed_ids.person_id = Profile.Person_ID
> WHERE Profile.Name IS NOT NULL
> ORDER BY Profile.Name
> ```

772

,person_id,name,pubmed_count,relevant_pubmed_url_count,relevant_pubmed_id_count,retrieved_pubmed_id_count,pubmed_url,search_term
0,196070,Aaron Frank,NaN,NaN,NaN,NaN,None,None
1,86941,Adam Frost,NaN,NaN,NaN,NaN,None,None
2,4372,Adam Linstedt,NaN,NaN,NaN,NaN,None,None

In [8]:
with pd.option_context("display.max_rows", 100):
    print(
        editor_pubmed_count_df
        [['person_id', 'name', 'pubmed_count', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count']]
        .to_string(index=False)
    )

person_id                             name  pubmed_count  relevant_pubmed_id_count  retrieved_pubmed_id_count
   196070                      Aaron Frank           NaN                       NaN                        NaN
    86941                       Adam Frost           NaN                       NaN                        NaN
     4372                    Adam Linstedt           NaN                       NaN                        NaN
    68914                  Adrien Peyrache           NaN                       NaN                        NaN
     7131                    Adèle Marston           NaN                       NaN                        NaN
    72412                  Agnese Seminara           NaN                       NaN                        NaN
     1532              Agnieszka Chacinska           NaN                       NaN                        NaN
     3258                     Ahmet Yildiz           NaN                       NaN                        NaN
   101166                  Akira Shinohara           NaN                       NaN                        NaN
     3613                  Alan Hinnebusch           NaN                       NaN                        NaN
    17261                       Alan Moses           NaN                       NaN                        NaN
    15498                   Albert Cardona           NaN                       NaN                        NaN
     1179       Alejandro Sánchez Alvarado           NaN                       NaN                        NaN
    50904               Aleksandra Walczak           NaN                       NaN                        NaN
    52199                     Alex Fornito           NaN                       NaN                        NaN
    33388                       Alex Sigal           NaN                       NaN                        NaN
     6613                  Alexander Borst           NaN                       NaN                        NaN
    71215                Alexander Chesler           NaN                       NaN                        NaN
   133489               Alexander Shackman           NaN                       NaN                        NaN
   130526             Alexander Westermann           NaN                       NaN                        NaN
     7284                 Alfonso Valencia           NaN                       NaN                        NaN
    49902                 Alicia Izquierdo           NaN                       NaN                        NaN
     9287                    Allan Basbaum           NaN                       NaN                        NaN
    27913                  Alphee Michelot           NaN                       NaN                        NaN
    36644                      Ambra Pozzi           NaN                       NaN                        NaN
    96111                        Amie Boal           NaN                       NaN                        NaN
   101131                     Amita Sehgal           NaN                       NaN                        NaN
   131589                      Ammie Kalan           NaN                       NaN                        NaN
   182970                    Amy Andreotti           NaN                       NaN                        NaN
   147660                   Amy Gladfelter           NaN                       NaN                        NaN
   125325                   Amy Wesolowski           NaN                       NaN                        NaN
   134266                     Ana Domingos           NaN                       NaN                        NaN
   171158                    Andrea Martin           NaN                       NaN                        NaN
    11271                   Andreas Martin           NaN                       NaN                        NaN
    39183                 Andreas Schaefer           NaN                       NaN                        NaN
     3654                     Andrei Lupas           NaN                       NaN                        NaN
     None             Andres Jara-Oseguera           NaN                       NaN                        NaN
    14040                    Andrew Carter           NaN                       NaN                        NaN
    14601                      Andrew King           NaN                       NaN                        NaN
    44764                     Andrew Kruse           NaN                       NaN                        NaN
    13704                Andrew MacPherson           NaN                       NaN                        NaN
    64900                      Andrew West           NaN                       NaN                        NaN
     3681                  Andrés Aguilera           NaN                       NaN                        NaN
    63118              Anita Bhattacharyya           NaN                       NaN                        NaN
     8518                   Anna Akhmanova           NaN                       NaN                        NaN
   143521                       Anna Diehl           NaN                       NaN                        NaN
   158625                         Anna Roe           NaN                       NaN                        NaN
    94513                    Anna Schapiro           NaN                       NaN                        NaN
    31711                        Anne West           NaN                       NaN                        NaN
    68352              Annelien Bredenoord           NaN                       NaN                        NaN
    97377                    Anton Bennett           NaN                       NaN                        NaN
     1236                    Antonis Rokas           NaN                       NaN                        NaN
   150854                     Antony Rosen           NaN                       NaN                        NaN
    71518                   Anurag Agrawal           NaN                       NaN                        NaN
   175464                     Apurva Sarin           NaN                       NaN                        NaN
   149979                  Arduino Mangoni           NaN                       NaN                        NaN
   202442                 Arezu Jahani-Asl           NaN                       NaN                        NaN
   162124              Armita Nourmohammad           NaN                       NaN                        NaN
    12637               Arun Radhakrishnan           NaN                       NaN                        NaN
    38231                      Aryn Gittis           NaN                       NaN                        NaN
    73888                       Ashish Lal           NaN                       NaN                        NaN
   230194                 Audrey Bernstein           NaN                       NaN                        NaN
   196290                       Autumn Ivy           NaN                       NaN                        NaN
     1050                    Axel Brakhage           NaN                       NaN                        NaN
     1054                     Axel Brunger           NaN                       NaN                        NaN
    49095                   Aya Ito-Ishida           NaN                       NaN                        NaN
   224711                  Balram Bhargava           NaN                       NaN                        NaN
    19576         Barbara Shinn-Cunningham           NaN                       NaN                        NaN
   187442                    Barnabas Daru           NaN                       NaN                        NaN
     5759                     Baron Chanda           NaN                       NaN                        NaN
    56267                      Bavesh Kana           NaN                       NaN                        NaN
    91442              Beate Lichtenberger           NaN                       NaN                        NaN
   132424                  Belinda Nicolau           NaN                       NaN                        NaN
    34498                       Ben Cooper           NaN                       NaN                        NaN
     1065                 Benjamin Cravatt           NaN                       NaN                        NaN
   168470                 Benjamin Prosser           NaN                       NaN                        NaN
   177138                  Benoît Kornmann           NaN                       NaN                        NaN
     6021                 Bernard Malissen           NaN                       NaN                        NaN
     1529                 Bernard de Massy           NaN                       NaN                        NaN
    70207                  Bernhard Schmid           NaN                       NaN                        NaN
    11670                     Beth Stevens           NaN                       NaN                        NaN
   146069                    Betty Diamond           NaN                       NaN                        NaN
   230569                       Bian Zhuan           NaN                       NaN                        NaN
   197715                    Bianca Marlin           NaN                       NaN                        NaN
    22182                  Binyam Mogessie           NaN                       NaN                        NaN
    17433                  Birte Forstmann           NaN                       NaN                        NaN
    87037                 Blake Wiedenheft           NaN                       NaN                        NaN
    14341                   Brandon Harvey           NaN                       NaN                        NaN
   141232                 Brice Bathellier           NaN                       NaN                        NaN
    23478                   Bruce Stillman           NaN                       NaN                        NaN
     1348                   Bruno Lemaître           NaN                       NaN                        NaN
   113336                Bérénice Benayoun           NaN                       NaN                        NaN
     None            C Brandon Ogbunugafor           NaN                       NaN                        NaN
   148642        C Daniela Robles-Espinoza           NaN                       NaN                        NaN
   156274                      Caigang Liu           NaN                       NaN                        NaN
   103035                     Caleb Kemere           NaN                       NaN                        NaN
     1046                   Carl Bergstrom           NaN                       NaN                        NaN
    44396                    Carla Rothlin           NaN                       NaN                        NaN
   155059                    Carlos Isales           NaN                       NaN                        NaN
    51740                      Carol Mason           NaN                       NaN                        NaN
    73864                   Carole LaBonne           NaN                       NaN                        NaN
   153732                   Caroline Burns           NaN                       NaN                        NaN
   142983                  Caroline Colijn           NaN                       NaN                        NaN
   147188                 Caroline Gutjahr           NaN                       NaN                        NaN
    69651                 Cassidy Sugimoto           NaN                       NaN                        NaN
     6872                   Catherine Carr           NaN                       NaN                        NaN
     1014                  Catherine Dulac           NaN                       NaN                        NaN
   147430                Catherine Hartley           NaN                       NaN                        NaN
     1025                  Charles Sawyers           NaN                       NaN                        NaN
    30961                  Charlotte Deane           NaN                       NaN                        NaN
   151161           Cheryl Ackert-Bicknell           NaN                       NaN                        NaN
   178962                     Chima Nwaogu           NaN                       NaN                        NaN
    28129                      Chris Baker           NaN                       NaN                        NaN
    14004                        Chris Doe           NaN                       NaN                        NaN
    16197                 Christian Büchel           NaN                       NaN                        NaN
    61468                 Christian Landry           NaN                       NaN                        NaN
    15332                   Christian Rutz           NaN                       NaN                        NaN
    18245              Christina Stallings           NaN                       NaN                        NaN
   115380            Christine Beemelmanns           NaN                       NaN                        NaN
    43012                Christine Clayton           NaN                       NaN                        NaN
     3857                 Christopher Hill           NaN                       NaN                        NaN
   160928                Christopher Huang           NaN                       NaN                        NaN
   226831             Christopher Williams           NaN                       NaN                        NaN
   224380                      Chunling Yi           NaN                       NaN                        NaN
    33420                   Chyung-Ru Wang           NaN                       NaN                        NaN
   135257                    Claire Gillan           NaN                       NaN                        NaN
    28504                     Claire Wyart           NaN                       NaN                        NaN
    15520                  Clare Blackburn           NaN                       NaN                        NaN
     3168                   Claude Desplan           NaN                       NaN                        NaN
     3639                    Claudia Bagni           NaN                       NaN                        NaN
    35549                Cristina Lo Celso           NaN                       NaN                        NaN
    64899               Cynthia Czajkowski           NaN                       NaN                        NaN
     5005                Cynthia Wolberger           NaN                       NaN                        NaN
   129299                    D Nora Abrous           NaN                       NaN                        NaN
    10628                      Daeyeol Lee           NaN                       NaN                        NaN
     6781                      Dan Goodman           NaN                       NaN                        NaN
    12608                    Dan Larhammar           NaN                       NaN                        NaN
     3273                Danelle Devenport           NaN                       NaN                        NaN
     1122              Daniel Kliebenstein           NaN                       NaN                        NaN
    78317                    Daniel Matute           NaN                       NaN                        NaN
    79289          Daniel Ortiz-Barrientos           NaN                       NaN                        NaN
     3046                 Daniel Zilberman           NaN                       NaN                        NaN
    84124                  Dario Valenzano           NaN                       NaN                        NaN
    56678                    David Allison           NaN                       NaN                        NaN
    29804                      David Badre           NaN                       NaN                        NaN
   136296                     David Donoso           NaN                       NaN                        NaN
     7527                       David Drew           NaN                       NaN                        NaN
     1090                   David Ginsburg           NaN                       NaN                        NaN
     9032                      David Ginty           NaN                       NaN                        NaN
    94836                      David James           NaN                       NaN                        NaN
    55462                     David Kramer           NaN                       NaN                        NaN
    41622                    David Lentink           NaN                       NaN                        NaN
     1174                        David Ron           NaN                       NaN                        NaN
    66165                   David Serwadda           NaN                       NaN                        NaN
   131609                  David Van Valen           NaN                       NaN                        NaN
     1197                    David Wallach           NaN                       NaN                        NaN
    46737                Deborah Bourc'his           NaN                       NaN                        NaN
   196287                         Demba Ba           NaN                       NaN                        NaN
    67465                       Denise Cai           NaN                       NaN                        NaN
   177235                 Derek Applewhite           NaN                       NaN                        NaN
     1030                    Detlef Weigel           NaN                       NaN                        NaN
   145919                     Diane Harper           NaN                       NaN                        NaN
     7189                  Didier Stainier           NaN                       NaN                        NaN
     6978                     Dieter Ebert           NaN                       NaN                        NaN
     1191                   Diethard Tautz           NaN                       NaN                        NaN
    88296                     Dion Dickman           NaN                       NaN                        NaN
   235582                    Dirce Carraro           NaN                       NaN                        NaN
   143776                  Dolores Shoback           NaN                       NaN                        NaN
     1045               Dominique Bergmann           NaN                       NaN                        NaN
    41647          Dominique Soldati-Favre           NaN                       NaN                        NaN
   206904                 Donald Hamelberg           NaN                       NaN                        NaN
    48377                         Doris Wu           NaN                       NaN                        NaN
     2085                    Douglas Black           NaN                       NaN                        NaN
   123450                  Douglas Portman           NaN                       NaN                        NaN
     1156                       Duojia Pan           NaN                       NaN                        NaN
    12234                   Dwight Bergles           NaN                       NaN                        NaN
   192562                   Dwight Kravitz           NaN                       NaN                        NaN
     1095                E Peter Greenberg           NaN                       NaN                        NaN
    65212                   Edna Cukierman           NaN                       NaN                        NaN
     9960                    Eduardo Eyras           NaN                       NaN                        NaN

In [9]:
print('editors with pubmed urls without parsed pubmed id:\n%s' % editor_pubmed_count_df[
    editor_pubmed_count_df['relevant_pubmed_url_count'] > editor_pubmed_count_df['relevant_pubmed_id_count']
][['person_id', 'name', 'relevant_pubmed_url_count', 'relevant_pubmed_id_count']].to_string(index=False))

editors with pubmed urls without parsed pubmed id:
Empty DataFrame
Columns: [person_id, name, relevant_pubmed_url_count, relevant_pubmed_id_count]
Index: []

In [10]:
print(
    'editors without disambiguated pubmed papers despite having relevant pubmed ids:\n%s' % (
        editor_pubmed_count_df[
            (editor_pubmed_count_df['pubmed_count'] == 0)
            & (editor_pubmed_count_df['relevant_pubmed_id_count'] > 0)
        ]
        [['person_id', 'name', 'pubmed_count', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count']]
        .to_string(index=False)
    )
)

editors without disambiguated pubmed papers despite having relevant pubmed ids:
Empty DataFrame
Columns: [person_id, name, pubmed_count, relevant_pubmed_id_count, retrieved_pubmed_id_count]
Index: []

In [11]:
print(
    'editors with less than five disambiguated pubmed papers:\n%s' % (
        editor_pubmed_count_df[
            (editor_pubmed_count_df['pubmed_count'] > 0)
            & (editor_pubmed_count_df['pubmed_count'] < 5)
        ]
        [['person_id', 'name', 'pubmed_count', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count']]
        .to_string(index=False)
    )
)

editors with less than five disambiguated pubmed papers:
Empty DataFrame
Columns: [person_id, name, pubmed_count, relevant_pubmed_id_count, retrieved_pubmed_id_count]
Index: []

In [12]:
print(
    'editors without additional disambiguated pubmed papers (apart from relevant pubmed ids):\n%s' % (
        editor_pubmed_count_df[
            (editor_pubmed_count_df['pubmed_count'] <= editor_pubmed_count_df['relevant_pubmed_id_count'])
            & (
                editor_pubmed_count_df['retrieved_pubmed_id_count']
                > editor_pubmed_count_df['relevant_pubmed_id_count']
            )
        ]
        [['person_id', 'name', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count', 'search_term']]
        .to_string(index=False)
    )
)

editors without additional disambiguated pubmed papers (apart from relevant pubmed ids):
Empty DataFrame
Columns: [person_id, name, relevant_pubmed_id_count, retrieved_pubmed_id_count, search_term]
Index: []

In [13]:
print(
    'editors with only relevant pubmed papers:\n%s' % (
        editor_pubmed_count_df[
            (editor_pubmed_count_df['pubmed_count'] > 0)
            & (
                editor_pubmed_count_df['retrieved_pubmed_id_count']
                <= editor_pubmed_count_df['relevant_pubmed_id_count']
            )
        ]
        [['person_id', 'name', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count', 'search_term']]
        .to_string(index=False)
    )
)

editors with only relevant pubmed papers:
Empty DataFrame
Columns: [person_id, name, relevant_pubmed_id_count, retrieved_pubmed_id_count, search_term]
Index: []

In [14]:
print(
    'editors without any disambiguated pubmed papers:\n%s' % (
        editor_pubmed_count_df[
            editor_pubmed_count_df['pubmed_count'] == 0
        ]
        [['person_id', 'name', 'relevant_pubmed_id_count', 'retrieved_pubmed_id_count', 'search_term']]
        .to_string(index=False)
    )
)

editors without any disambiguated pubmed papers:
Empty DataFrame
Columns: [person_id, name, relevant_pubmed_id_count, retrieved_pubmed_id_count, search_term]
Index: []